<div class="card">
  <div class="card-header">{{ title }}
    <a type="button" routerLink="/ingreso" class="btn btn-secondary">
      Create User
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ List }}</h5>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha de Nacimiento</th>
          <th scope="col">Estado</th>
          <th scope="col">Perfil</th>
          <th scope="col">Dependencia</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of UserList">
          <td>{{ user.name }}</td>
          <td>{{ user.birthdate }}</td>
          <td>{{ user.active }}</td>
          <td>{{ user.profile.name }}</td>
          <td>{{ user.dependency.name }}</td>
          <td><a type="button" routerLink="/task" class="btn btn-secondary">Task List</a>
            <button type="button" class="btn btn-secondary" name="button">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
