<div class="card">
  <div class="card-header">{{ title }}
  <button type="button" class="btn btn-secondary" name="button">
    Asociar tarea
  </button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ List }}</h5>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name User</th>
          <th scope="col">Duration Task</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of UserList">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.birthdate }}</td>
          <td><button type="button" class="btn btn-secondary" name="button">Update</button>
            <button type="button" class="btn btn-secondary" name="button">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
